name: the task runner

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '00 03 * * *'
    - cron:  '00 06 * * *'
    - cron:  '00 11 * * *'
    - cron:  '00 16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt -f https://download.pytorch.org/whl/torch_stable.html; fi
    
    # - name: Run the facebook task
    #   run: |
    #     python transformers_facebook_playground.py
    # - name: Run the sshleifer task
    #   run: |
    #     python transformers_sshleifer_playground.py
    
    # - name: Run the Summarization task once to download the models
    #   run: |
    #     python amService_Summarizer.py

    - name: Run the overall task
      env:
          BING_SEARCH_V7_SUBSCRIPTION_KEY: ${{ secrets.BING_SEARCH_V7_SUBSCRIPTION_KEY }}
          PRIVATE_API_KEY_NEWSAPI: ${{ secrets.PRIVATE_API_KEY_NEWSAPI }}
          PRIVATE_REDDIT_CLIENTID: ${{ secrets.PRIVATE_REDDIT_CLIENTID }}
          PRIVATE_REDDIT_SECRET: ${{ secrets.PRIVATE_REDDIT_SECRET }}
          MERCURY_POST_ENDPOINT: ${{ secrets.MERCURY_POST_ENDPOINT }}
          MERCURY_GET_ENDPOINT: ${{ secrets.MERCURY_GET_ENDPOINT }}
          PRIVATE_BASE_KEY: ${{ secrets.PRIVATE_BASE_KEY }}
          PRIVATE_TABLE_NAME_NEWSPAYLOAD: ${{ secrets.PRIVATE_TABLE_NAME_NEWSPAYLOAD }}
          PRIVATE_TABLE_NAME_SERVICEDUMP: ${{ secrets.PRIVATE_TABLE_NAME_SERVICEDUMP }}
          PRIVATE_API_KEY_AIRTABLE: ${{ secrets.PRIVATE_API_KEY_AIRTABLE }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        python task.py
